custom.el
elpa/
elpa.zip
etc/
auto-save-list/
emojis/
projectile-bookmarks.eld
projectile.cache
network-security.data
url/
.config
org-gcal/
bookmarks
.org-id-locations
lisp/org-fancy-priorities/
lisp/soft-charcoal-theme/
init-tangled.el
eshell/
games/
smex-items
.cache/
.tern-port
server/
rake.cache
transient/
.lsp-session-v1
abbrev_defs
tramp
local*.el
cider-history
straight/*
!straight/versions
*.elc
projects
workspace/
eclipse.jdt.ls
org-roam.db
gptel-crowdsourced-prompts.csv
multisession/
lisp/org-fancy-priorities/
lisp/org-fancy-priorities/
recentf
.dap-breakpoints
local
request/
tree-sitter/
places
eln-cache/
