init.elc
custom.el
elpa/
etc/
auto-save-list/
emojis/
projectile-bookmarks.eld
projectile.cache
network-security.data
url/
.api-keys
org-gcal/
bookmarks
.org-id-locations
lisp/org-fancy-priorities/
lisp/soft-charcoal-theme/
init-tangled.el
eshell/
games/
smex-items
.cache/
.tern-port
server/
rake.cache
transient/
.lsp-session-v1
abbrev_defs
tramp