"*":
  core:
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "atom-material-syntax-dark"
    ]
  editor:
    fontSize: 16
  "exception-reporting":
    userId: "47f1f1eb-48c4-1ec6-7119-7735d5e31a55"
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
